<div class="row">
    <div class="col-xs-6">
        <ul class="list-group">
            {{#each uneatenBurgers}}
                <li class="list-group-item">
                    {{ id }}. {{ burger_name }}
                    <button type="submit" form="hidden-form{{id}}" class="btn btn-primary btn-sm pull-right devour">Devour it!</button>
                </li>
                <form action="/{{id}}?_method=PUT" method="POST" id="hidden-form{{id}}" class="hidden-xs-up"></form>
            {{/each}}
        </ul>
    </div>
